*
{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.page{
    width: 1314px;
    padding-left: 50px;
    margin: 0 auto;
}

}
/* header */

header
{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

header div {
    width: 1314px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

li
{
   display: inline-block;
   margin-right: 63px;
  
}


span{
    color: black;
} 

h1{
    width: 581px;
    font-size: 17px;
    display: flex;
    justify-content: left;
}

/* hed paragraph  */
.hed2{
    width: 593px;
}

.hed2 p{
    font-size: 11px;
    margin-top: 8px;
}

/* recherch */

.cherch{
    width: 350px;
    height: 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #0065FC;
    border-left: 1px solid   #F2F2F2 ;
    border-radius: 15px;
}
.cherch p{
    padding-top: 7px;
 }
 
 .cherch .recherch p {
     background-color: #0065FC;
 }
/* FLITER */

section{
    display: flex;
    margin-top: 33px ;
}

section .fliter {
 width: 942px;
display: flex;
justify-content: space-between;
}

/* under-flter */

.under-flter{
    margin-top: 35px;
    margin-bottom: 44px;
    font-size: 15px;
}

/* images-center */
 
 .images-center h2{
    margin-top: 35px;
    background-color: #F2F2F2;
    margin-left: 31px;
}

.images-center{
    width: 883px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.center1{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

.center2{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 29px;
    margin-bottom: 30px;
}

.images{
    border: 5px solid #ffffff;
    border-radius: 15px;
}

.images img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* imag-dorit */

.bolg{
    display: flex;
    justify-content: space-around;
}

.poupler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
}

.imag-dorit{
    width: 350px;
    background-color:#F2F2F2 ;
   
}

.dorit{
    display: flex;
    /* justify-content: space-around; */
    background-color: #F2F2F2;
    border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 28px;
    
}

.dorit img{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #F2F2F2;
}

.border{
   border-top-right-radius: 15px #ffffff;
   border-bottom-right-radius: 15px #ffffff;

}

.oo{
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}

.poupler h2 {
    background-color: #F2F2F2;
    margin-top: 20px;
}
.ooo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


