*
{
    padding: 0;
    margin: 0;
    background-color: #ffffff; 
    font-family: 'Raleway', sans-serif;
}
.page{
    width: 1346px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

.bolg{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}

h4{
   margin-top: 10px;
   margin-bottom: 10px;
    background-color: #F2F2F2;
}

a{
    text-decoration: none;
}

/* header */


header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 51px;
}

nav li{
    
}
 
li
{
   margin-right: 63px;
   list-style-type: none;
   display: inline-block;
}


span{
    color: black;
} 

h1{
    /* width: 580px; */
    font-size: 17px;
    /* display: flex;
    justify-content: left; */
}

/* hed paragraph  */
.hed2{
    width: 1314px;
}

.hed2 p{
    font-size: 11px;
    margin-top: 8px;
}

/* recherch */

.cherch{
    width: 421px;
    height: 49px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input{
    width: 264px;
    height: 45px;
}

.recherch p{
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    color: #ffffff;
 }

.icon1{
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
}

/* FLITER 4*/

.fliter4{
    display: flex;
    width: 940px;
    margin-top: 33px;
    justify-content: space-between;
    align-items: center;
}

.blog-icons{
 display: flex;
 align-items: center;
 border-radius: 25px 20px 20px 25px;
 border: 1px solid #F2F2F2;
 padding-right: 5px;
 font-weight: bold;
}

.fliter4 p{
    font-weight: bold;
}

.fliter4 i{
    font-size: 25px;
    color: #0065FC;

}
.filter-icon{
    border: 4px solid #F2F2F2;
    border-radius: 50px;
    background-color: #F2F2F2;
    padding: 5px;
}

.filter-icon i{
    background-color:#F2F2F2 ;
}

.filter-icon p{
    border: 1px solid #F2F2F2 ;
}
.i{
    border-radius: 50px;
    padding: 50px;
}



/* under-flter */

.under-flter{
    width: 456px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 44px;
    font-size: 15px;
    padding-left: 60px;
}

.under-flter i{
    color: #0065FC ;
   background-color: #F2F2F2;
   padding: 15px;
   border-radius: 50px;
}


/* images-center */

.border-under i{
    color: #0065FC;
}

 .images-center h2{
    margin-top: 44px;
    margin-left: 30px;
    background-color: #F2F2F2;
}

.images-center{
    width: 883px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center1{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

.center2{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    margin-top: 29px;
    margin-bottom: 30px;
}

.images{
    border: 5px solid #ffffff;
    border-radius: 15px;
}

.images img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.pp{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 5px;
    background-color:#F2F2F2;
    padding-left: 25px;
    font-weight: bold;
} 
.pp p{
    background-color:#F2F2F2 ;
   
}

/* imag-dorit */

.poupler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    margin-top: 22px;
}

aside{
    width: 421px;
    background-color:#F2F2F2 ;
    border: 4px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dorit{
    display: flex;
    border: 5px solid #ffffff;
    border-radius: 15px;
    width: 347px;
    margin-left: 30px;
 
}

.dorit img{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color:#F2F2F2 ;
}

.border{
   border-top-right-radius: 15px #ffffff;
   border-bottom-right-radius: 15px #ffffff;
   padding-left: 25px;
}
.border i{
    margin-top: 80px;
}
.border p{
    font-weight: bold;
}
.blog-images{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.poupler h2 {
    background-color: #F2F2F2;
    margin-top: 15px;
    margin-left: 30px;
}
.poupler i{
    background-color: #F2F2F2;
}

/* activite */

.activite{
    background-color: #F2F2F2;
    width: 1346px;
    margin-top: 65px;
}
.activite h3{
    padding-left: 47px;
    padding-bottom: 26px;
}
.images-activite{
    display: flex;
    justify-content: space-between;
    padding-left: 47px;
}

.blog-image-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 45px;
}

.image-11{
    padding-left: 45px;
}

.images-activite img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.images-activite p{    
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    border: 2px solid #dae7e9;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.border-9{
    border: 2px solid #F2F2F2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: #F2F2F2;
    font-weight: bold;
}

/* footer */

footer{
    
    background-color: #F2F2F2;
    padding-bottom: 54px;
}

.bolg-footer{
    width: 1033px;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 60px;
    padding-top: 40px;
}

.footer1 {
    background-color: #F2F2F2;
}

.footer1 p{
    background-color: #F2F2F2;
}

.footer1 a{
    color: #0f0f0f;
    background-color: #F2F2F2;
}
